footer{
    background-color: #3B3B3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 334px;

}

.footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 200px;
}

h2{
    font-family: 'Space Mono', monospace;
    color: white;
    list-style: none;
    font-size: 22px;
    text-decoration: none;
}

p{
    color: #CCCCCC;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 22.4px;
}

.copyright {
    width: 1200px;
    border-top: 1px solid #858584; /* Adiciona uma borda cinza na parte superior */
    color: #CCCCCC;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    padding-top: 30px; 
    margin-top: 10px;
}

@media (max-width: 1280px) {
    footer {
      height: 703px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 690px;
        height: 541px;
        padding-top: 40px;
        gap: 20px;
    }
  
    .copyright {
      width: 690px;
      height: 63px;
      font-size: 12px;
      margin-top: 50px;
    }
  }